<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.alabor.alfred-jira-issue-workflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>19FFBCD7-CE9A-422D-A67F-C34F466F7AD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74F3C0D4-DE28-4454-AB85-FF627E2EA634</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2CAE61CE-AA3D-4C60-AC48-507D96B536FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED5C9E91-42DE-4C89-AED7-E3FEF8411707</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>98FBAD29-F77B-4A02-8F03-C8CCE7F37E8E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy Issue Number to Clipboard...</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>19FFBCD7-CE9A-422D-A67F-C34F466F7AD0</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Paste Issue Number to current Application...</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6C8D2F6E-65B2-4ACD-8C2B-FC877641D5E7</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to clipboard...</string>
			</dict>
		</array>
		<key>6C8D2F6E-65B2-4ACD-8C2B-FC877641D5E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25CF593E-F4E2-465D-A9AB-A50F9DE46CFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>98FBAD29-F77B-4A02-8F03-C8CCE7F37E8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DA89896-3F92-4D01-AD4F-AABEEEC18101</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Manuel Alabor</string>
	<key>description</key>
	<string>Use Alfred to search for JIRA issues</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search JIRA Issues</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>jira</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./search.sh "{query}"</string>
				<key>subtext</key>
				<string>Start typing an issue name or description...</string>
				<key>title</key>
				<string>Search JIRA Issues</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2CAE61CE-AA3D-4C60-AC48-507D96B536FD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>ED5C9E91-42DE-4C89-AED7-E3FEF8411707</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8DA89896-3F92-4D01-AD4F-AABEEEC18101</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./extractIssueNumber.sh {query}</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>98FBAD29-F77B-4A02-8F03-C8CCE7F37E8E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>74F3C0D4-DE28-4454-AB85-FF627E2EA634</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./extractIssueNumber.sh {query}</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>19FFBCD7-CE9A-422D-A67F-C34F466F7AD0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>25CF593E-F4E2-465D-A9AB-A50F9DE46CFD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./extractUrl.sh {query}</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6C8D2F6E-65B2-4ACD-8C2B-FC877641D5E7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>19FFBCD7-CE9A-422D-A67F-C34F466F7AD0</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>25CF593E-F4E2-465D-A9AB-A50F9DE46CFD</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>2CAE61CE-AA3D-4C60-AC48-507D96B536FD</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6C8D2F6E-65B2-4ACD-8C2B-FC877641D5E7</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>74F3C0D4-DE28-4454-AB85-FF627E2EA634</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>8DA89896-3F92-4D01-AD4F-AABEEEC18101</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>98FBAD29-F77B-4A02-8F03-C8CCE7F37E8E</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>ED5C9E91-42DE-4C89-AED7-E3FEF8411707</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/swissmanu/search-jira-issues-alfred-workflow</string>
</dict>
</plist>
